body {
  margin: 0 auto;
  font-family: "Source Code Pro";
}
.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  border-radius: 90px 160px;
  padding: 12px;
  border: 1px solid yellow;
}
.game-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order-per {
  color: pink;
  background-color: rgb(41, 1, 134);
  border-radius: 12px;
  font-size: 2rem;
  padding: 3rem;
  margin-top: 150px;
}

.primera-pal {
  font-size: 1.2rem;
  color: blueviolet;
  padding: 0.5rem;
}

.exple {
  width: 600px;
}

button {
  background-color: rgb(0, 225, 255);
  padding: 24px 12px;
  height: 40px;
  color: grey;
  font-size: 16px;
  border-radius: 12px;
  align-items: center;
  margin-top: 8px;
}

input {
  background-color: antiquewhite;
  padding: 24px 12px;
  border: 0.2 dashed pink;
  border-radius: 12px;
  height: 40px;
}
